body {
    color:#474647;
    background-color:#f9ebe0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
.text {
    margin:0 auto;
    max-width:500px;
}
#foot {
    margin-top:100px;
}